In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Daywise variable and slope
#Cluster your wise
#Day wise date structure do to do
#Attributes of a timeseries 
#How we are picked compound to other countries
#Lockdown impact on graphs 
#Day wise story time graphs of countries
#Predictions of countries
#Predictions of the countries compared to actual

In [ ]:
import pandas
import numpy as np
from sklearn import preprocessing, cross_decomposition,model_selection,metrics
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
%matplotlib inline
import dateutil
from tqdm import tqdm
from sklearn import linear_model
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipwidgets import widgets

In [ ]:
!Pip install xgboost

In [ ]:
!Pip install plotly

In [ ]:
!Pip install plotly

In [1]:
import pandas as pd
confirmedGlobal=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [2]:
confirmedGlobal.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21,1/20/21,1/21/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,53584,53584,53775,53831,53938,53984,54062,54141,54278,54403
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,64627,65334,65994,66635,67216,67690,67982,68568,69238,69916
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,102641,102860,103127,103381,103611,103833,104092,104341,104606,104852
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,8682,8818,8868,8946,9038,9083,9083,9194,9308,9379
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,18343,18425,18613,18679,18765,18875,18926,19011,19093,19177

In [3]:
confirmedGlobal[confirmedGlobal.columns[-1]].sum()

97492076

In [5]:
barPlotData=confirmedGlobal[['Country/Region',confirmedGlobal.columns[-1]]].groupby('Country/Region').sum().sort_values(by=['1/20/22'], ascending=False)

KeyError: '1/20/22'

In [6]:
barPlotData=confirmedGlobal[['Country/Region',confirmedGlobal.columns[-1]]].groupby('Country/Region').sum()
barPlotData=barPlotData.reset_index()
barPlotData.columns=['Country/Region','values']
barPlotData=barPlotData.sort_values(by='values',ascending=False)
barPlotVals=barPlotData['values'].values.tolist()
countryNames=barPlotData['Country/Region'].values.tolist()

In [7]:
df3=pd.read_json('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json')

In [9]:
df3.head(2)

  code3         name   value code
0   ABW        Aruba  582.34   AW
1   AFG  Afghanistan   53.08   AF

In [10]:
df3[df3['name']=='China']

   code3   name   value code
35   CHN  China  146.85   CN

In [20]:
dataForMap=[]
for i in countryNames:
    try:
        tempdf=df3[df3['name']==i]
        temp={}
        temp["code3"]=list(tempdf['code3'].values)[0]
        temp["name"]=i
        temp["value"]=barPlotData[barPlotData['Country/Region']==i]['values'].sum()
        temp["code"]=list(tempdf['code'].values)[0]
        dataForMap.append(temp)
    except:
        pass

In [21]:
dataForMap

[{'code3': 'IND', 'name': 'India', 'value': 10625428, 'code': 'IN'},
 {'code3': 'BRA', 'name': 'Brazil', 'value': 8697368, 'code': 'BR'},
 {'code3': 'GBR', 'name': 'United Kingdom', 'value': 3553773, 'code': 'GB'},
 {'code3': 'FRA', 'name': 'France', 'value': 3046371, 'code': 'FR'},
 {'code3': 'ESP', 'name': 'Spain', 'value': 2456675, 'code': 'ES'},
 {'code3': 'ITA', 'name': 'Italy', 'value': 2428221, 'code': 'IT'},
 {'code3': 'TUR', 'name': 'Turkey', 'value': 2412505, 'code': 'TR'},
 {'code3': 'DEU', 'name': 'Germany', 'value': 2108895, 'code': 'DE'},
 {'code3': 'COL', 'name': 'Colombia', 'value': 1972345, 'code': 'CO'},
 {'code3': 'ARG', 'name': 'Argentina', 'value': 1843077, 'code': 'AR'},
 {'code3': 'MEX', 'name': 'Mexico', 'value': 1688944, 'code': 'MX'},
 {'code3': 'POL', 'name': 'Poland', 'value': 1457755, 'code': 'PL'},
 {'code3': 'ZAF', 'name': 'South Africa', 'value': 1380807, 'code': 'ZA'},
 {'code3': 'UKR', 'name': 'Ukraine', 'value': 1216780, 'code': 'UA'},
 {'code3': 'PER', 'name': 'Peru', 'value': 1073214, 'code': 'PE'},
 {'code3': 'IDN', 'name': 'Indonesia', 'value': 951651, 'code': 'ID'},
 {'code3': 'NLD', 'name': 'Netherlands', 'value': 945948, 'code': 'NL'},
 {'code3': 'CAN', 'name': 'Canada', 'value': 736441, 'code': 'CA'},
 {'code3': 'ROU', 'name': 'Romania', 'value': 703776, 'code': 'RO'},
 {'code3': 'BEL', 'name': 'Belgium', 'value': 686827, 'code': 'BE'},
 {'code3': 'CHL', 'name': 'Chile', 'value': 685107, 'code': 'CL'},
 {'code3': 'IRQ', 'name': 'Iraq', 'value': 611407, 'code': 'IQ'},
 {'code3': 'PRT', 'name': 'Portugal', 'value': 595149, 'code': 'PT'},
 {'code3': 'ISR', 'name': 'Israel', 'value': 582869, 'code': 'IL'},
 {'code3': 'SWE', 'name': 'Sweden', 'value': 542952, 'code': 'SE'},
 {'code3': 'BGD', 'name': 'Bangladesh', 'value': 530271, 'code': 'BD'},
 {'code3': 'PAK', 'name': 'Pakistan', 'value': 528891, 'code': 'PK'},
 {'code3': 'PHL', 'name': 'Philippines', 'value': 507717, 'code': 'PH'},
 {'code3': 'CHE', 'name': 'Switzerland', 'value': 507123, 'code': 'CH'},
 {'code3': 'MAR', 'name': 'Morocco', 'value': 463706, 'code': 'MA'},
 {'code3': 'AUT', 'name': 'Austria', 'value': 399798, 'code': 'AT'},
 {'code3': 'SRB', 'name': 'Serbia', 'value': 379093, 'code': 'RS'},
 {'code3': 'SAU', 'name': 'Saudi Arabia', 'value': 365775, 'code': 'SA'},
 {'code3': 'HUN', 'name': 'Hungary', 'value': 355662, 'code': 'HU'},
 {'code3': 'JPN', 'name': 'Japan', 'value': 352129, 'code': 'JP'},
 {'code3': 'JOR', 'name': 'Jordan', 'value': 318181, 'code': 'JO'},
 {'code3': 'PAN', 'name': 'Panama', 'value': 305752, 'code': 'PA'},
 {'code3': 'LBN', 'name': 'Lebanon', 'value': 269241, 'code': 'LB'},
 {'code3': 'NPL', 'name': 'Nepal', 'value': 268646, 'code': 'NP'},
 {'code3': 'ARE',
  'name': 'United Arab Emirates',
  'value': 267258,
  'code': 'AE'},
 {'code3': 'GEO', 'name': 'Georgia', 'value': 251071, 'code': 'GE'},
 {'code3': 'ECU', 'name': 'Ecuador', 'value': 236189, 'code': 'EC'},
 {'code3': 'BLR', 'name': 'Belarus', 'value': 232298, 'code': 'BY'},
 {'code3': 'AZE', 'name': 'Azerbaijan', 'value': 228246, 'code': 'AZ'},
 {'code3': 'HRV', 'name': 'Croatia', 'value': 227326, 'code': 'HR'},
 {'code3': 'KAZ', 'name': 'Kazakhstan', 'value': 221053, 'code': 'KZ'},
 {'code3': 'BGR', 'name': 'Bulgaria', 'value': 213864, 'code': 'BG'},
 {'code3': 'DOM', 'name': 'Dominican Republic', 'value': 199672, 'code': 'DO'},
 {'code3': 'BOL', 'name': 'Bolivia', 'value': 196393, 'code': 'BO'},
 {'code3': 'DNK', 'name': 'Denmark', 'value': 192947, 'code': 'DK'},
 {'code3': 'TUN', 'name': 'Tunisia', 'value': 190884, 'code': 'TN'},
 {'code3': 'CRI', 'name': 'Costa Rica', 'value': 188477, 'code': 'CR'},
 {'code3': 'IRL', 'name': 'Ireland', 'value': 181922, 'code': 'IE'},
 {'code3': 'LTU', 'name': 'Lithuania', 'value': 173819, 'code': 'LT'},
 {'code3': 'MYS', 'name': 'Malaysia', 'value': 172549, 'code': 'MY'},
 {'code3': 'ARM', 'name': 'Armenia', 'value': 165528, 'code': 'AM'},
 {'code3': 'KWT', 'name': 'Kuwait', 'value': 159834, 'code': 'KW'},
 {'code3': 'MDA', 'name': 'Moldova', 'value': 154788, 'code': 'MD'},
 {'code3': 'SVN', 'name': 'Slovenia', 'value': 154306, 'code': 'SI'},
 {'code3': 'PSE', 'name': 'West Bank and Gaza', 'value': 154063, 'code': 'PS'},
 {'code3': 'GTM', 'name': 'Guatemala', 'value': 152395, 'code': 'GT'},
 {'code3': 'GRC', 'name': 'Greece', 'value': 150479, 'code': 'GR'},
 {'code3': 'QAT', 'name': 'Qatar', 'value': 148258, 'code': 'QA'},
 {'code3': 'HND', 'name': 'Honduras', 'value': 138044, 'code': 'HN'},
 {'code3': 'OMN', 'name': 'Oman', 'value': 132486, 'code': 'OM'},
 {'code3': 'ETH', 'name': 'Ethiopia', 'value': 132326, 'code': 'ET'},
 {'code3': 'PRY', 'name': 'Paraguay', 'value': 125518, 'code': 'PY'},
 {'code3': 'BIH',
  'name': 'Bosnia and Herzegovina',
  'value': 119206,
  'code': 'BA'},
 {'code3': 'NGA', 'name': 'Nigeria', 'value': 116655, 'code': 'NG'},
 {'code3': 'LBY', 'name': 'Libya', 'value': 111746, 'code': 'LY'},
 {'code3': 'DZA', 'name': 'Algeria', 'value': 104852, 'code': 'DZ'},
 {'code3': 'KEN', 'name': 'Kenya', 'value': 99630, 'code': 'KE'},
 {'code3': 'BHR', 'name': 'Bahrain', 'value': 98878, 'code': 'BH'},
 {'code3': 'CHN', 'name': 'China', 'value': 98544, 'code': 'CN'},
 {'code3': 'UZB', 'name': 'Uzbekistan', 'value': 78219, 'code': 'UZ'},
 {'code3': 'ALB', 'name': 'Albania', 'value': 69916, 'code': 'AL'},
 {'code3': 'NOR', 'name': 'Norway', 'value': 60259, 'code': 'NO'},
 {'code3': 'GHA', 'name': 'Ghana', 'value': 59480, 'code': 'GH'},
 {'code3': 'SGP', 'name': 'Singapore', 'value': 59235, 'code': 'SG'},
 {'code3': 'LVA', 'name': 'Latvia', 'value': 58710, 'code': 'LV'},
 {'code3': 'MNE', 'name': 'Montenegro', 'value': 56998, 'code': 'ME'},
 {'code3': 'LKA', 'name': 'Sri Lanka', 'value': 56076, 'code': 'LK'},
 {'code3': 'AFG', 'name': 'Afghanistan', 'value': 54403, 'code': 'AF'},
 {'code3': 'SLV', 'name': 'El Salvador', 'value': 52388, 'code': 'SV'},
 {'code3': 'LUX', 'name': 'Luxembourg', 'value': 49319, 'code': 'LU'},
 {'code3': 'ZMB', 'name': 'Zambia', 'value': 42213, 'code': 'ZM'},
 {'code3': 'FIN', 'name': 'Finland', 'value': 41565, 'code': 'FI'},
 {'code3': 'EST', 'name': 'Estonia', 'value': 39212, 'code': 'EE'},
 {'code3': 'UGA', 'name': 'Uganda', 'value': 38806, 'code': 'UG'},
 {'code3': 'URY', 'name': 'Uruguay', 'value': 34992, 'code': 'UY'},
 {'code3': 'NAM', 'name': 'Namibia', 'value': 31515, 'code': 'NA'},
 {'code3': 'MOZ', 'name': 'Mozambique', 'value': 30225, 'code': 'MZ'},
 {'code3': 'ZWE', 'name': 'Zimbabwe', 'value': 30047, 'code': 'ZW'},
 {'code3': 'CYP', 'name': 'Cyprus', 'value': 29636, 'code': 'CY'},
 {'code3': 'AUS', 'name': 'Australia', 'value': 28755, 'code': 'AU'},
 {'code3': 'CMR', 'name': 'Cameroon', 'value': 28010, 'code': 'CM'},
 {'code3': 'SDN', 'name': 'Sudan', 'value': 26279, 'code': 'SD'},
 {'code3': 'CIV', 'name': "Cote d'Ivoire", 'value': 25751, 'code': 'CI'},
 {'code3': 'SEN', 'name': 'Senegal', 'value': 23909, 'code': 'SN'},
 {'code3': 'BWA', 'name': 'Botswana', 'value': 19654, 'code': 'BW'},
 {'code3': 'CUB', 'name': 'Cuba', 'value': 19530, 'code': 'CU'},
 {'code3': 'AGO', 'name': 'Angola', 'value': 19177, 'code': 'AO'},
 {'code3': 'MDG', 'name': 'Madagascar', 'value': 18301, 'code': 'MG'},
 {'code3': 'MLT', 'name': 'Malta', 'value': 16280, 'code': 'MT'},
 {'code3': 'MRT', 'name': 'Mauritania', 'value': 16266, 'code': 'MR'},
 {'code3': 'MWI', 'name': 'Malawi', 'value': 16049, 'code': 'MW'},
 {'code3': 'MDV', 'name': 'Maldives', 'value': 14765, 'code': 'MV'},
 {'code3': 'JAM', 'name': 'Jamaica', 'value': 14550, 'code': 'JM'},
 {'code3': 'GIN', 'name': 'Guinea', 'value': 14236, 'code': 'GN'},
 {'code3': 'TJK', 'name': 'Tajikistan', 'value': 13308, 'code': 'TJ'},
 {'code3': 'CPV', 'name': 'Cabo Verde', 'value': 13307, 'code': 'CV'},
 {'code3': 'THA', 'name': 'Thailand', 'value': 12795, 'code': 'TH'},
 {'code3': 'RWA', 'name': 'Rwanda', 'value': 12170, 'code': 'RW'},
 {'code3': 'BLZ', 'name': 'Belize', 'value': 11676, 'code': 'BZ'},
 {'code3': 'HTI', 'name': 'Haiti', 'value': 11035, 'code': 'HT'},
 {'code3': 'GAB', 'name': 'Gabon', 'value': 10120, 'code': 'GA'},
 {'code3': 'BFA', 'name': 'Burkina Faso', 'value': 9719, 'code': 'BF'},
 {'code3': 'AND', 'name': 'Andorra', 'value': 9379, 'code': 'AD'},
 {'code3': 'MLI', 'name': 'Mali', 'value': 7911, 'code': 'ML'},
 {'code3': 'SUR', 'name': 'Suriname', 'value': 7880, 'code': 'SR'},
 {'code3': 'LSO', 'name': 'Lesotho', 'value': 7504, 'code': 'LS'},
 {'code3': 'TTO', 'name': 'Trinidad and Tobago', 'value': 7450, 'code': 'TT'},
 {'code3': 'GUY', 'name': 'Guyana', 'value': 7067, 'code': 'GY'},
 {'code3': 'NIC', 'name': 'Nicaragua', 'value': 6204, 'code': 'NI'},
 {'code3': 'ISL', 'name': 'Iceland', 'value': 5981, 'code': 'IS'},
 {'code3': 'DJI', 'name': 'Djibouti', 'value': 5916, 'code': 'DJ'},
 {'code3': 'GNQ', 'name': 'Equatorial Guinea', 'value': 5365, 'code': 'GQ'},
 {'code3': 'CAF',
  'name': 'Central African Republic',
  'value': 4974,
  'code': 'CF'},
 {'code3': 'SOM', 'name': 'Somalia', 'value': 4744, 'code': 'SO'},
 {'code3': 'TGO', 'name': 'Togo', 'value': 4505, 'code': 'TG'},
 {'code3': 'NER', 'name': 'Niger', 'value': 4267, 'code': 'NE'},
 {'code3': 'BEN', 'name': 'Benin', 'value': 3582, 'code': 'BJ'},
 {'code3': 'SLE', 'name': 'Sierra Leone', 'value': 3081, 'code': 'SL'},
 {'code3': 'TCD', 'name': 'Chad', 'value': 3065, 'code': 'TD'},
 {'code3': 'SMR', 'name': 'San Marino', 'value': 2833, 'code': 'SM'},
 {'code3': 'GNB', 'name': 'Guinea-Bissau', 'value': 2510, 'code': 'GW'},
 {'code3': 'LIE', 'name': 'Liechtenstein', 'value': 2415, 'code': 'LI'},
 {'code3': 'NZL', 'name': 'New Zealand', 'value': 2276, 'code': 'NZ'},
 {'code3': 'COM', 'name': 'Comoros', 'value': 1935, 'code': 'KM'},
 {'code3': 'LBR', 'name': 'Liberia', 'value': 1901, 'code': 'LR'},
 {'code3': 'MNG', 'name': 'Mongolia', 'value': 1592, 'code': 'MN'},
 {'code3': 'VNM', 'name': 'Vietnam', 'value': 1546, 'code': 'VN'},
 {'code3': 'BDI', 'name': 'Burundi', 'value': 1358, 'code': 'BI'},
 {'code3': 'MCO', 'name': 'Monaco', 'value': 1287, 'code': 'MC'},
 {'code3': 'STP',
  'name': 'Sao Tome and Principe',
  'value': 1171,
  'code': 'ST'},
 {'code3': 'BRB', 'name': 'Barbados', 'value': 1156, 'code': 'BB'},
 {'code3': 'BTN', 'name': 'Bhutan', 'value': 850, 'code': 'BT'},
 {'code3': 'PNG', 'name': 'Papua New Guinea', 'value': 835, 'code': 'PG'},
 {'code3': 'SYC', 'name': 'Seychelles', 'value': 762, 'code': 'SC'},
 {'code3': 'MUS', 'name': 'Mauritius', 'value': 556, 'code': 'MU'},
 {'code3': 'TZA', 'name': 'Tanzania', 'value': 509, 'code': 'TZ'},
 {'code3': 'KHM', 'name': 'Cambodia', 'value': 456, 'code': 'KH'},
 {'code3': 'ATG', 'name': 'Antigua and Barbuda', 'value': 192, 'code': 'AG'},
 {'code3': 'GRD', 'name': 'Grenada', 'value': 139, 'code': 'GD'},
 {'code3': 'DMA', 'name': 'Dominica', 'value': 113, 'code': 'DM'},
 {'code3': 'FJI', 'name': 'Fiji', 'value': 55, 'code': 'FJ'},
 {'code3': 'TLS', 'name': 'Timor-Leste', 'value': 53, 'code': 'TL'},
 {'code3': 'SLB', 'name': 'Solomon Islands', 'value': 17, 'code': 'SB'},
 {'code3': 'MHL', 'name': 'Marshall Islands', 'value': 4, 'code': 'MH'},
 {'code3': 'WSM', 'name': 'Samoa', 'value': 2, 'code': 'WS'},
 {'code3': 'VUT', 'name': 'Vanuatu', 'value': 1, 'code': 'VU'}]

In [22]:
countryDataSpe=pd.DataFrame(confirmedGlobal[confirmedGlobal['Country/Region']=='China'][confirmedGlobal.columns[4:-1]].sum()).reset_index()
countryDataSpe.columns=['country','values']
countryDataSpe['lagVal']=countryDataSpe['values'].shift(1).fillna(0)
countryDataSpe['incrementVal']=countryDataSpe['values']-countryDataSpe['lagVal']
countryDataSpe['rollingMean']=countryDataSpe['incrementVal'].rolling(window=4).mean()
countryDataSpe=countryDataSpe.fillna(0)
datasetsForLine=[{'label':'Daily Cumulated Data','data':countryDataSpe['values'].values.tolist(),'borderColor':'#03a9fc','backgroundColor':'#03a9fc','fill':'false'},
                    {'label':'Rolling Mean 4 days','data':countryDataSpe['rollingMean'].values.tolist(),'borderColor':'#fc5203','backgroundColor':'#fc5203','fill':'false'}]

In [23]:
datasetsForLine

[{'label': 'Daily Cumulated Data',
  'data': [548,
   643,
   920,
   1406,
   2075,
   2877,
   5509,
   6087,
   8141,
   9802,
   11891,
   16630,
   19716,
   23707,
   27440,
   30587,
   34110,
   36814,
   39829,
   42354,
   44386,
   44759,
   59895,
   66358,
   68413,
   70513,
   72434,
   74211,
   74619,
   75077,
   75550,
   77001,
   77022,
   77241,
   77754,
   78166,
   78600,
   78928,
   79356,
   79932,
   80136,
   80261,
   80386,
   80537,
   80690,
   80770,
   80823,
   80860,
   80887,
   80921,
   80932,
   80945,
   80977,
   81003,
   81033,
   81058,
   81102,
   81156,
   81250,
   81305,
   81435,
   81498,
   81591,
   81661,
   81782,
   81897,
   81999,
   82122,
   82198,
   82279,
   82361,
   82432,
   82511,
   82543,
   82602,
   82665,
   82718,
   82809,
   82883,
   82941,
   83014,
   83134,
   83213,
   83306,
   83356,
   83403,
   83760,
   83787,
   83805,
   83817,
   83853,
   83868,
   83884,
   83899,
   83909,
   83912,
   83918,
   83940,
   83944,
   83956,
   83959,
   83959,
   83964,
   83966,
   83968,
   83970,
   83975,
   83976,
   83990,
   84010,
   84011,
   84018,
   84024,
   84029,
   84038,
   84044,
   84054,
   84063,
   84063,
   84063,
   84063,
   84081,
   84084,
   84095,
   84102,
   84103,
   84106,
   84106,
   84123,
   84128,
   84146,
   84154,
   84161,
   84160,
   84171,
   84177,
   84186,
   84191,
   84195,
   84198,
   84209,
   84216,
   84228,
   84286,
   84335,
   84378,
   84422,
   84458,
   84494,
   84494,
   84553,
   84572,
   84624,
   84653,
   84673,
   84701,
   84725,
   84743,
   84757,
   84780,
   84785,
   84816,
   84830,
   84838,
   84857,
   84871,
   84889,
   84917,
   84950,
   84992,
   84992,
   85071,
   85117,
   85117,
   85226,
   85246,
   85327,
   85402,
   85418,
   85503,
   85622,
   85708,
   85906,
   86045,
   86202,
   86381,
   86570,
   86783,
   86990,
   87213,
   87489,
   87655,
   87827,
   87985,
   88099,
   88206,
   88328,
   88460,
   88580,
   88672,
   88793,
   88906,
   88958,
   89045,
   89144,
   89214,
   89279,
   89375,
   89441,
   89494,
   89527,
   89567,
   89616,
   89654,
   89695,
   89718,
   89752,
   89784,
   89814,
   89836,
   89863,
   89895,
   89914,
   89933,
   89953,
   89986,
   90008,
   90025,
   90058,
   90078,
   90087,
   90100,
   90127,
   90145,
   90168,
   90197,
   90219,
   90235,
   90253,
   90294,
   90311,
   90334,
   90369,
   90381,
   90399,
   90409,
   90424,
   90441,
   90456,
   90483,
   90505,
   90528,
   90545,
   90567,
   90584,
   90604,
   90629,
   90652,
   90667,
   90687,
   90728,
   90751,
   90778,
   90812,
   90830,
   90858,
   90869,
   90905,
   90925,
   90955,
   90972,
   91006,
   91022,
   91044,
   91073,
   91108,
   91128,
   91151,
   91175,
   91222,
   91271,
   91299,
   91339,
   91366,
   91397,
   91452,
   91478,
   91509,
   91552,
   91591,
   91622,
   91665,
   91693,
   91719,
   91752,
   91783,
   91807,
   91828,
   91850,
   91872,
   91885,
   91906,
   91935,
   91977,
   92037,
   92116,
   92211,
   92296,
   92402,
   92488,
   92586,
   92681,
   92814,
   92902,
   92993,
   93113,
   93221,
   93348,
   93467,
   93577,
   93670,
   93782,
   93898,
   94025,
   94124,
   94217,
   94328,
   94427,
   94537,
   94626,
   94734,
   94821,
   94953,
   95050,
   95150,
   95228,
   95298,
   95383,
   95460,
   95541,
   95632,
   95720,
   95797,
   95876,
   95963,
   96023,
   96086,
   96160,
   96246,
   96310,
   96398,
   96484,
   96562,
   96690,
   96824,
   96920,
   97095,
   97275,
   97448,
   97616,
   97775,
   97939,
   98164,
   98323,
   98544],
  'borderColor': '#03a9fc',
  'backgroundColor': '#03a9fc',
  'fill': 'false'},
 {'label': 'Rolling Mean 4 days',
  'data': [0.0,
   0.0,
   0.0,
   351.5,
   381.75,
   558.5,
   1147.25,
   1170.25,
   1516.5,
   1731.25,
   1595.5,
   2635.75,
   2893.75,
   3476.25,
   3887.25,
   3489.25,
   3598.5,
   3276.75,
   3097.25,
   2941.75,
   2569.0,
   1986.25,
   5016.5,
   6001.0,
   6006.75,
   6438.5,
   3134.75,
   1963.25,
   1551.5,
   1141.0,
   779.0,
   697.5,
   600.75,
   541.0,
   551.0,
   291.25,
   394.5,
   421.75,
   400.5,
   441.5,
   384.0,
   333.25,
   257.5,
   151.25,
   138.5,
   127.25,
   109.25,
   80.75,
   49.25,
   37.75,
   27.25,
   21.25,
   22.5,
   20.5,
   25.25,
   28.25,
   31.25,
   38.25,
   54.25,
   61.75,
   83.25,
   85.5,
   85.25,
   89.0,
   86.75,
   99.75,
   102.0,
   115.25,
   104.0,
   95.5,
   90.5,
   77.5,
   78.25,
   66.0,
   60.25,
   58.25,
   51.75,
   66.5,
   70.25,
   69.0,
   74.0,
   81.25,
   82.5,
   91.25,
   85.5,
   67.25,
   136.75,
   120.25,
   112.25,
   103.5,
   23.25,
   20.25,
   19.75,
   20.5,
   14.0,
   11.0,
   8.5,
   10.25,
   8.75,
   11.0,
   10.25,
   4.75,
   5.0,
   2.5,
   2.25,
   2.75,
   2.75,
   2.5,
   5.5,
   10.0,
   9.0,
   10.5,
   8.5,
   4.75,
   6.75,
   6.5,
   7.5,
   8.5,
   6.25,
   4.75,
   2.25,
   4.5,
   5.25,
   8.0,
   9.75,
   5.5,
   5.5,
   2.75,
   5.25,
   6.25,
   10.0,
   12.0,
   9.5,
   8.0,
   6.25,
   5.75,
   6.25,
   7.75,
   6.0,
   5.25,
   5.75,
   6.25,
   8.25,
   22.0,
   31.5,
   40.5,
   48.5,
   43.0,
   39.75,
   29.0,
   32.75,
   28.5,
   32.5,
   39.75,
   30.0,
   32.25,
   25.25,
   22.5,
   21.0,
   19.75,
   15.0,
   18.25,
   18.25,
   14.5,
   18.0,
   13.75,
   14.75,
   19.75,
   23.25,
   30.25,
   25.75,
   38.5,
   41.75,
   31.25,
   58.5,
   43.75,
   52.5,
   71.25,
   48.0,
   64.25,
   73.75,
   76.5,
   122.0,
   135.5,
   145.0,
   168.25,
   166.0,
   184.5,
   197.0,
   208.0,
   229.75,
   218.0,
   209.25,
   193.0,
   152.5,
   137.75,
   125.25,
   118.75,
   120.25,
   116.5,
   116.25,
   111.5,
   94.5,
   93.25,
   87.75,
   77.0,
   80.25,
   82.5,
   74.25,
   70.0,
   62.0,
   48.0,
   43.75,
   40.0,
   42.0,
   37.75,
   34.0,
   32.5,
   29.75,
   29.5,
   27.75,
   27.75,
   25.0,
   24.25,
   22.5,
   22.75,
   23.5,
   23.0,
   26.25,
   23.0,
   19.75,
   18.75,
   17.25,
   16.75,
   20.25,
   24.25,
   23.0,
   22.5,
   21.25,
   24.25,
   23.0,
   24.75,
   29.0,
   21.75,
   22.0,
   18.75,
   13.75,
   15.0,
   14.25,
   18.5,
   20.25,
   21.75,
   22.25,
   21.0,
   19.75,
   19.0,
   21.0,
   21.25,
   20.75,
   20.75,
   24.75,
   24.75,
   27.75,
   31.25,
   25.5,
   26.75,
   22.75,
   23.25,
   23.75,
   24.25,
   25.75,
   25.25,
   24.25,
   22.25,
   25.25,
   25.5,
   26.5,
   26.75,
   25.5,
   28.5,
   35.75,
   37.0,
   41.0,
   36.0,
   31.5,
   38.25,
   34.75,
   35.75,
   38.75,
   34.75,
   36.0,
   39.0,
   35.25,
   32.0,
   32.5,
   29.5,
   28.5,
   27.25,
   24.5,
   22.25,
   19.5,
   19.5,
   21.25,
   26.25,
   38.0,
   52.5,
   69.0,
   79.75,
   91.25,
   93.0,
   93.75,
   96.25,
   103.0,
   103.5,
   101.75,
   108.0,
   101.75,
   111.5,
   118.5,
   116.0,
   112.25,
   108.5,
   107.75,
   112.0,
   113.5,
   108.75,
   107.5,
   100.5,
   103.25,
   102.25,
   101.5,
   98.5,
   104.0,
   106.0,
   104.0,
   101.75,
   86.25,
   83.25,
   77.5,
   78.25,
   83.5,
   84.25,
   84.25,
   83.75,
   82.75,
   75.75,
   72.25,
   71.0,
   70.75,
   71.75,
   78.0,
   81.0,
   79.0,
   95.0,
   106.5,
   109.0,
   133.25,
   146.25,
   156.0,
   174.0,
   170.0,
   166.0,
   179.0,
   176.75,
   192.25],
  'borderColor': '#fc5203',
  'backgroundColor': '#fc5203',
  'fill': 'false'}]